USE [master]
GO
/****** Object:  Database [Склады]    Script Date: 19.03.2025 4:49:13 ******/
CREATE DATABASE [Склады]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Склады', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Склады.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Склады_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Склады_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Склады].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Склады]
GO
/****** Object:  Table [dbo].[Заказы]    Script Date: 19.03.2025 4:49:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Заказы](
	[IDЗаказа] [int] IDENTITY(1,1) NOT NULL,
	[ТипЗаказа] [nvarchar](50) NOT NULL,
	[ДатаЗаказа] [date] NOT NULL,
	[IDПоставщика] [int] NULL,
	[IDКлиента] [int] NULL,
	[СтатусЗаказа] [nvarchar](50) NOT NULL,
	[ОбщаяСумма] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDЗаказа] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Инвентаризация]    Script Date: 19.03.2025 4:49:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Инвентаризация](
	[IDИнвентаризации] [int] IDENTITY(1,1) NOT NULL,
	[ДатаИнвентаризации] [date] NOT NULL,
	[ОтветственноеЛицо] [nvarchar](100) NULL,
	[Результаты] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDИнвентаризации] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Клиенты]    Script Date: 19.03.2025 4:49:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Клиенты](
	[IDКлиента] [int] IDENTITY(1,1) NOT NULL,
	[Название] [nvarchar](100) NOT NULL,
	[КонтактныйТелефон] [nvarchar](20) NULL,
	[КонтактныйEmail] [nvarchar](100) NULL,
	[Адрес] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDКлиента] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Пользователи]    Script Date: 19.03.2025 4:49:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Пользователи](
	[IDПользователя] [int] IDENTITY(1,1) NOT NULL,
	[ИмяПользователя] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[ХэшПароля] [nvarchar](255) NULL,
	[Роль] [nvarchar](50) NOT NULL,
	[Фото] [varbinary](max) NULL,
	[Code] [nvarchar](255) NULL,
 CONSTRAINT [PK__Пользова__42DEF4240008A456] PRIMARY KEY CLUSTERED 
(
	[IDПользователя] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Поставщики]    Script Date: 19.03.2025 4:49:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Поставщики](
	[IDПоставщика] [int] IDENTITY(1,1) NOT NULL,
	[Название] [nvarchar](100) NOT NULL,
	[ИНН] [nvarchar](12) NULL,
	[КПП] [nvarchar](9) NULL,
	[КонтактныйТелефон] [nvarchar](20) NULL,
	[КонтактныйEmail] [nvarchar](100) NULL,
	[Адрес] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDПоставщика] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ПриходныеНакладные]    Script Date: 19.03.2025 4:49:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ПриходныеНакладные](
	[IDНакладной] [int] IDENTITY(1,1) NOT NULL,
	[НомерНакладной] [nvarchar](50) NOT NULL,
	[ДатаПоступления] [date] NOT NULL,
	[IDПоставщика] [int] NOT NULL,
	[ОбщаяСумма] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDНакладной] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[РасходныеНакладные]    Script Date: 19.03.2025 4:49:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[РасходныеНакладные](
	[IDНакладной] [int] IDENTITY(1,1) NOT NULL,
	[НомерНакладной] [nvarchar](50) NOT NULL,
	[ДатаОтгрузки] [date] NOT NULL,
	[IDКлиента] [int] NOT NULL,
	[ОбщаяСумма] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDНакладной] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[РезервыТоваров]    Script Date: 19.03.2025 4:49:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[РезервыТоваров](
	[IDРезерва] [int] IDENTITY(1,1) NOT NULL,
	[IDЗаказа] [int] NOT NULL,
	[IDТовара] [int] NOT NULL,
	[КоличествоРезерва] [int] NOT NULL,
	[ДатаРезерва] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDРезерва] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Склады]    Script Date: 19.03.2025 4:49:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Склады](
	[IDСклада] [int] IDENTITY(1,1) NOT NULL,
	[Название] [nvarchar](100) NOT NULL,
	[Адрес] [nvarchar](200) NULL,
	[ТипСклада] [nvarchar](50) NULL,
	[ЗонаХранения] [nvarchar](200) NULL,
	[IDТовара] [int] NULL,
	[Количество] [int] NULL,
 CONSTRAINT [PK__Склады__EEB087B783235389] PRIMARY KEY CLUSTERED 
(
	[IDСклада] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Товары]    Script Date: 19.03.2025 4:49:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Товары](
	[IDТовара] [int] IDENTITY(1,1) NOT NULL,
	[Название] [nvarchar](100) NOT NULL,
	[Артикул] [nvarchar](50) NOT NULL,
	[Штрихкод] [nvarchar](50) NULL,
	[Категория] [nvarchar](50) NULL,
	[ЕдиницаИзмерения] [nvarchar](20) NULL,
	[Цена] [decimal](18, 2) NOT NULL,
	[СерийныйНомер] [nvarchar](50) NULL,
	[МинимальныйЗапас] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDТовара] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ЭлементыЗаказа]    Script Date: 19.03.2025 4:49:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ЭлементыЗаказа](
	[IDЭлементаЗаказа] [int] IDENTITY(1,1) NOT NULL,
	[IDЗаказа] [int] NOT NULL,
	[IDТовара] [int] NOT NULL,
	[Количество] [int] NOT NULL,
	[Цена] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDЭлементаЗаказа] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ЭлементыИнвентаризации]    Script Date: 19.03.2025 4:49:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ЭлементыИнвентаризации](
	[IDЭлементаИнвентаризации] [int] IDENTITY(1,1) NOT NULL,
	[IDИнвентаризации] [int] NOT NULL,
	[IDТовара] [int] NOT NULL,
	[ФактическоеКоличество] [int] NOT NULL,
	[УчетноеКоличество] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDЭлементаИнвентаризации] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ЭлементыПриходнойНакладной]    Script Date: 19.03.2025 4:49:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ЭлементыПриходнойНакладной](
	[IDЭлементаНакладной] [int] IDENTITY(1,1) NOT NULL,
	[IDНакладной] [int] NOT NULL,
	[IDТовара] [int] NOT NULL,
	[Количество] [int] NOT NULL,
	[Цена] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDЭлементаНакладной] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ЭлементыРасходнойНакладной]    Script Date: 19.03.2025 4:49:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ЭлементыРасходнойНакладной](
	[IDЭлементаНакладной] [int] IDENTITY(1,1) NOT NULL,
	[IDНакладной] [int] NOT NULL,
	[IDТовара] [int] NOT NULL,
	[Количество] [int] NOT NULL,
	[Цена] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDЭлементаНакладной] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Заказы] ON 

INSERT [dbo].[Заказы] ([IDЗаказа], [ТипЗаказа], [ДатаЗаказа], [IDПоставщика], [IDКлиента], [СтатусЗаказа], [ОбщаяСумма]) VALUES (1, N'Оптовый', CAST(N'2023-10-01' AS Date), 1, NULL, N'Завершен', CAST(10000.00 AS Decimal(18, 2)))
INSERT [dbo].[Заказы] ([IDЗаказа], [ТипЗаказа], [ДатаЗаказа], [IDПоставщика], [IDКлиента], [СтатусЗаказа], [ОбщаяСумма]) VALUES (2, N'Розничный', CAST(N'2023-10-02' AS Date), NULL, 2, N'В процессе', CAST(5000.00 AS Decimal(18, 2)))
INSERT [dbo].[Заказы] ([IDЗаказа], [ТипЗаказа], [ДатаЗаказа], [IDПоставщика], [IDКлиента], [СтатусЗаказа], [ОбщаяСумма]) VALUES (3, N'Оптовый', CAST(N'2023-10-03' AS Date), 3, NULL, N'Завершен', CAST(15000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Заказы] OFF
GO
SET IDENTITY_INSERT [dbo].[Инвентаризация] ON 

INSERT [dbo].[Инвентаризация] ([IDИнвентаризации], [ДатаИнвентаризации], [ОтветственноеЛицо], [Результаты]) VALUES (1, CAST(N'2024-03-08' AS Date), N'Иван Иванов', N'{"расхождения": 0, "акты": "нет"}')
INSERT [dbo].[Инвентаризация] ([IDИнвентаризации], [ДатаИнвентаризации], [ОтветственноеЛицо], [Результаты]) VALUES (2, CAST(N'2024-03-15' AS Date), N'Петр Петров', N'{"расхождения": 2, "акты": "акт №123"}')
INSERT [dbo].[Инвентаризация] ([IDИнвентаризации], [ДатаИнвентаризации], [ОтветственноеЛицо], [Результаты]) VALUES (3, CAST(N'2024-03-22' AS Date), N'Сидоров Сергей', N'{"расхождения": 1, "акты": "акт №124"}')
SET IDENTITY_INSERT [dbo].[Инвентаризация] OFF
GO
SET IDENTITY_INSERT [dbo].[Клиенты] ON 

INSERT [dbo].[Клиенты] ([IDКлиента], [Название], [КонтактныйТелефон], [КонтактныйEmail], [Адрес]) VALUES (1, N'ООО "Ромашка"', N'+7 (495) 123-45-67', N'romashka@mail.ru', N'г. Москва, ул. Ленина, д. 10')
INSERT [dbo].[Клиенты] ([IDКлиента], [Название], [КонтактныйТелефон], [КонтактныйEmail], [Адрес]) VALUES (2, N'ИП Иванов И.И.', N'+7 (495) 234-56-78', N'ivanov@mail.ru', N'г. Москва, ул. Пушкина, д. 5')
INSERT [dbo].[Клиенты] ([IDКлиента], [Название], [КонтактныйТелефон], [КонтактныйEmail], [Адрес]) VALUES (3, N'ООО "Солнышко"', N'+7 (495) 345-67-89', N'solnyshko@mail.ru', N'г. Москва, ул. Гагарина, д. 15')
SET IDENTITY_INSERT [dbo].[Клиенты] OFF
GO
SET IDENTITY_INSERT [dbo].[Пользователи] ON 

SET IDENTITY_INSERT [dbo].[Пользователи] OFF
GO
SET IDENTITY_INSERT [dbo].[Поставщики] ON 

INSERT [dbo].[Поставщики] ([IDПоставщика], [Название], [ИНН], [КПП], [КонтактныйТелефон], [КонтактныйEmail], [Адрес]) VALUES (1, N'ООО "Поставщик 1"', N'123456789012', N'123456789', N'+7 (495) 111-11-11', N'postavshik1@mail.ru', N'г. Москва, ул. Ленина, д. 1')
INSERT [dbo].[Поставщики] ([IDПоставщика], [Название], [ИНН], [КПП], [КонтактныйТелефон], [КонтактныйEmail], [Адрес]) VALUES (2, N'ООО "Поставщик 2"', N'234567890123', N'234567890', N'+7 (495) 222-22-22', N'postavshik2@mail.ru', N'г. Москва, ул. Пушкина, д. 4')
INSERT [dbo].[Поставщики] ([IDПоставщика], [Название], [ИНН], [КПП], [КонтактныйТелефон], [КонтактныйEmail], [Адрес]) VALUES (3, N'ООО "Поставщик 3"', N'345678901234', N'345678901', N'+7 (495) 333-33-33', N'postavshik3@mail.ru', N'г. Москва, ул. Гагарина, д. 3')
SET IDENTITY_INSERT [dbo].[Поставщики] OFF
GO
SET IDENTITY_INSERT [dbo].[ПриходныеНакладные] ON 

INSERT [dbo].[ПриходныеНакладные] ([IDНакладной], [НомерНакладной], [ДатаПоступления], [IDПоставщика], [ОбщаяСумма]) VALUES (3, N'INV-001', CAST(N'2023-01-15' AS Date), 1, CAST(1500.00 AS Decimal(18, 2)))
INSERT [dbo].[ПриходныеНакладные] ([IDНакладной], [НомерНакладной], [ДатаПоступления], [IDПоставщика], [ОбщаяСумма]) VALUES (4, N'INV-002', CAST(N'2023-01-16' AS Date), 2, CAST(2500.50 AS Decimal(18, 2)))
INSERT [dbo].[ПриходныеНакладные] ([IDНакладной], [НомерНакладной], [ДатаПоступления], [IDПоставщика], [ОбщаяСумма]) VALUES (5, N'INV-003', CAST(N'2023-01-17' AS Date), 3, CAST(750.75 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[ПриходныеНакладные] OFF
GO
SET IDENTITY_INSERT [dbo].[РасходныеНакладные] ON 

INSERT [dbo].[РасходныеНакладные] ([IDНакладной], [НомерНакладной], [ДатаОтгрузки], [IDКлиента], [ОбщаяСумма]) VALUES (1, N'INV-1001', CAST(N'2023-01-15' AS Date), 1, CAST(15000.00 AS Decimal(18, 2)))
INSERT [dbo].[РасходныеНакладные] ([IDНакладной], [НомерНакладной], [ДатаОтгрузки], [IDКлиента], [ОбщаяСумма]) VALUES (2, N'INV-1002', CAST(N'2023-01-16' AS Date), 2, CAST(25000.50 AS Decimal(18, 2)))
INSERT [dbo].[РасходныеНакладные] ([IDНакладной], [НомерНакладной], [ДатаОтгрузки], [IDКлиента], [ОбщаяСумма]) VALUES (3, N'INV-1003', CAST(N'2023-01-17' AS Date), 3, CAST(7500.75 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[РасходныеНакладные] OFF
GO
SET IDENTITY_INSERT [dbo].[РезервыТоваров] ON 

INSERT [dbo].[РезервыТоваров] ([IDРезерва], [IDЗаказа], [IDТовара], [КоличествоРезерва], [ДатаРезерва]) VALUES (1, 1, 1, 100, CAST(N'2023-10-01' AS Date))
INSERT [dbo].[РезервыТоваров] ([IDРезерва], [IDЗаказа], [IDТовара], [КоличествоРезерва], [ДатаРезерва]) VALUES (2, 2, 2, 50, CAST(N'2023-10-02' AS Date))
INSERT [dbo].[РезервыТоваров] ([IDРезерва], [IDЗаказа], [IDТовара], [КоличествоРезерва], [ДатаРезерва]) VALUES (3, 3, 3, 30, CAST(N'2023-10-03' AS Date))
SET IDENTITY_INSERT [dbo].[РезервыТоваров] OFF
GO
SET IDENTITY_INSERT [dbo].[Склады] ON 

INSERT [dbo].[Склады] ([IDСклада], [Название], [Адрес], [ТипСклада], [ЗонаХранения], [IDТовара], [Количество]) VALUES (2, N'Склад 11', N'г. Москва, ул. Ленина, д. 16', N'Основной', N'Зона А:Для временного хранения', 11, 436)
INSERT [dbo].[Склады] ([IDСклада], [Название], [Адрес], [ТипСклада], [ЗонаХранения], [IDТовара], [Количество]) VALUES (3, N'Склад 1', N'г. Москва, ул. Ленина, д. 10', N'Основной', N'Зона А:Для электроники', 1, 100)
INSERT [dbo].[Склады] ([IDСклада], [Название], [Адрес], [ТипСклада], [ЗонаХранения], [IDТовара], [Количество]) VALUES (4, N'Склад 2', N'г. Москва, ул. Пушкина, д. 20', N'Временный', N'Зона А:Для аксессуаров', 2, 200)
SET IDENTITY_INSERT [dbo].[Склады] OFF
GO
SET IDENTITY_INSERT [dbo].[Товары] ON 

INSERT [dbo].[Товары] ([IDТовара], [Название], [Артикул], [Штрихкод], [Категория], [ЕдиницаИзмерения], [Цена], [СерийныйНомер], [МинимальныйЗапас]) VALUES (1, N'Апельсин', N'ART123', N'123456789', N'Фрукты', N'кг', CAST(1.00 AS Decimal(18, 2)), N'SN-011', 500)
INSERT [dbo].[Товары] ([IDТовара], [Название], [Артикул], [Штрихкод], [Категория], [ЕдиницаИзмерения], [Цена], [СерийныйНомер], [МинимальныйЗапас]) VALUES (2, N'Компьютер', N'CP-001', N'1234567890012', N'Электроника', N'шт', CAST(50000.00 AS Decimal(18, 2)), N'SN-001', 500)
INSERT [dbo].[Товары] ([IDТовара], [Название], [Артикул], [Штрихкод], [Категория], [ЕдиницаИзмерения], [Цена], [СерийныйНомер], [МинимальныйЗапас]) VALUES (3, N'Монитор', N'MN-002', N'1234567890013', N'Электроника', N'шт', CAST(15000.50 AS Decimal(18, 2)), N'SN-002', 500)
SET IDENTITY_INSERT [dbo].[Товары] OFF
GO
SET IDENTITY_INSERT [dbo].[ЭлементыЗаказа] ON 

INSERT [dbo].[ЭлементыЗаказа] ([IDЭлементаЗаказа], [IDЗаказа], [IDТовара], [Количество], [Цена]) VALUES (1, 1, 1, 100, CAST(1.00 AS Decimal(18, 2)))
INSERT [dbo].[ЭлементыЗаказа] ([IDЭлементаЗаказа], [IDЗаказа], [IDТовара], [Количество], [Цена]) VALUES (2, 2, 2, 50, CAST(50000.00 AS Decimal(18, 2)))
INSERT [dbo].[ЭлементыЗаказа] ([IDЭлементаЗаказа], [IDЗаказа], [IDТовара], [Количество], [Цена]) VALUES (3, 3, 3, 30, CAST(15000.50 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[ЭлементыЗаказа] OFF
GO
SET IDENTITY_INSERT [dbo].[ЭлементыИнвентаризации] ON 

INSERT [dbo].[ЭлементыИнвентаризации] ([IDЭлементаИнвентаризации], [IDИнвентаризации], [IDТовара], [ФактическоеКоличество], [УчетноеКоличество]) VALUES (1, 1, 1, 50, 45)
INSERT [dbo].[ЭлементыИнвентаризации] ([IDЭлементаИнвентаризации], [IDИнвентаризации], [IDТовара], [ФактическоеКоличество], [УчетноеКоличество]) VALUES (2, 2, 2, 25, 30)
INSERT [dbo].[ЭлементыИнвентаризации] ([IDЭлементаИнвентаризации], [IDИнвентаризации], [IDТовара], [ФактическоеКоличество], [УчетноеКоличество]) VALUES (3, 3, 3, 100, 100)
SET IDENTITY_INSERT [dbo].[ЭлементыИнвентаризации] OFF
GO
SET IDENTITY_INSERT [dbo].[ЭлементыПриходнойНакладной] ON 

INSERT [dbo].[ЭлементыПриходнойНакладной] ([IDЭлементаНакладной], [IDНакладной], [IDТовара], [Количество], [Цена]) VALUES (2, 3, 1, 5, CAST(10000.00 AS Decimal(18, 2)))
INSERT [dbo].[ЭлементыПриходнойНакладной] ([IDЭлементаНакладной], [IDНакладной], [IDТовара], [Количество], [Цена]) VALUES (3, 4, 2, 3, CAST(25000.50 AS Decimal(18, 2)))
INSERT [dbo].[ЭлементыПриходнойНакладной] ([IDЭлементаНакладной], [IDНакладной], [IDТовара], [Количество], [Цена]) VALUES (4, 5, 3, 2, CAST(7500.75 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[ЭлементыПриходнойНакладной] OFF
GO
SET IDENTITY_INSERT [dbo].[ЭлементыРасходнойНакладной] ON 

INSERT [dbo].[ЭлементыРасходнойНакладной] ([IDЭлементаНакладной], [IDНакладной], [IDТовара], [Количество], [Цена]) VALUES (10, 1, 1, 10, CAST(1500.00 AS Decimal(18, 2)))
INSERT [dbo].[ЭлементыРасходнойНакладной] ([IDЭлементаНакладной], [IDНакладной], [IDТовара], [Количество], [Цена]) VALUES (11, 2, 2, 5, CAST(2500.50 AS Decimal(18, 2)))
INSERT [dbo].[ЭлементыРасходнойНакладной] ([IDЭлементаНакладной], [IDНакладной], [IDТовара], [Количество], [Цена]) VALUES (12, 3, 3, 20, CAST(700.75 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[ЭлементыРасходнойНакладной] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Пользова__D1986CE7742BE783]    Script Date: 19.03.2025 4:49:14 ******/
ALTER TABLE [dbo].[Пользователи] ADD  CONSTRAINT [UQ__Пользова__D1986CE7742BE783] UNIQUE NONCLUSTERED 
(
	[ИмяПользователя] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_IncomingInvoices_InvoiceNumber]    Script Date: 19.03.2025 4:49:14 ******/
CREATE NONCLUSTERED INDEX [idx_IncomingInvoices_InvoiceNumber] ON [dbo].[ПриходныеНакладные]
(
	[НомерНакладной] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_OutgoingInvoices_InvoiceNumber]    Script Date: 19.03.2025 4:49:14 ******/
CREATE NONCLUSTERED INDEX [idx_OutgoingInvoices_InvoiceNumber] ON [dbo].[РасходныеНакладные]
(
	[НомерНакладной] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Товары__2AF1CF035FD2CE8C]    Script Date: 19.03.2025 4:49:14 ******/
ALTER TABLE [dbo].[Товары] ADD UNIQUE NONCLUSTERED 
(
	[Штрихкод] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_Products_Name]    Script Date: 19.03.2025 4:49:14 ******/
CREATE NONCLUSTERED INDEX [idx_Products_Name] ON [dbo].[Товары]
(
	[Название] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Заказы]  WITH CHECK ADD FOREIGN KEY([IDКлиента])
REFERENCES [dbo].[Клиенты] ([IDКлиента])
GO
ALTER TABLE [dbo].[Заказы]  WITH CHECK ADD FOREIGN KEY([IDПоставщика])
REFERENCES [dbo].[Поставщики] ([IDПоставщика])
GO
ALTER TABLE [dbo].[ПриходныеНакладные]  WITH CHECK ADD FOREIGN KEY([IDПоставщика])
REFERENCES [dbo].[Поставщики] ([IDПоставщика])
GO
ALTER TABLE [dbo].[РасходныеНакладные]  WITH CHECK ADD FOREIGN KEY([IDКлиента])
REFERENCES [dbo].[Клиенты] ([IDКлиента])
GO
ALTER TABLE [dbo].[РезервыТоваров]  WITH CHECK ADD FOREIGN KEY([IDЗаказа])
REFERENCES [dbo].[Заказы] ([IDЗаказа])
GO
ALTER TABLE [dbo].[РезервыТоваров]  WITH CHECK ADD FOREIGN KEY([IDТовара])
REFERENCES [dbo].[Товары] ([IDТовара])
GO
ALTER TABLE [dbo].[ЭлементыЗаказа]  WITH CHECK ADD FOREIGN KEY([IDЗаказа])
REFERENCES [dbo].[Заказы] ([IDЗаказа])
GO
ALTER TABLE [dbo].[ЭлементыЗаказа]  WITH CHECK ADD FOREIGN KEY([IDТовара])
REFERENCES [dbo].[Товары] ([IDТовара])
GO
ALTER TABLE [dbo].[ЭлементыИнвентаризации]  WITH CHECK ADD FOREIGN KEY([IDИнвентаризации])
REFERENCES [dbo].[Инвентаризация] ([IDИнвентаризации])
GO
ALTER TABLE [dbo].[ЭлементыИнвентаризации]  WITH CHECK ADD FOREIGN KEY([IDТовара])
REFERENCES [dbo].[Товары] ([IDТовара])
GO
ALTER TABLE [dbo].[ЭлементыПриходнойНакладной]  WITH CHECK ADD FOREIGN KEY([IDНакладной])
REFERENCES [dbo].[ПриходныеНакладные] ([IDНакладной])
GO
ALTER TABLE [dbo].[ЭлементыПриходнойНакладной]  WITH CHECK ADD FOREIGN KEY([IDТовара])
REFERENCES [dbo].[Товары] ([IDТовара])
GO
ALTER TABLE [dbo].[ЭлементыРасходнойНакладной]  WITH CHECK ADD FOREIGN KEY([IDНакладной])
REFERENCES [dbo].[РасходныеНакладные] ([IDНакладной])
GO
ALTER TABLE [dbo].[ЭлементыРасходнойНакладной]  WITH CHECK ADD FOREIGN KEY([IDТовара])
REFERENCES [dbo].[Товары] ([IDТовара])
GO
USE [master]
GO
